@model Jukebox.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<body id="login-page">
<div class="profile-container container-fluid">
    <div class="row">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div class="col col-lg-5">
            <section id="loginForm">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col col-lg-3 control-label" })
                            <div class="col-lg-9 input-div">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "help-inline" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col col-lg-3 control-label" })
                            <div class="col-lg-9 input-div">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-default">Sign in</button>
                            </div>
                        </div>
                    </form>
                }
            </section>
        </div>
        <div class="col col-lg-7">
            <section id="socialLoginForm">

                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>
</body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }