@using Jukebox.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<body id="manage-view">
<div class="profile-container container-fluid">
    <hgroup>
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col col-lg-6">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }

            <section id="externalLogins">
                @Html.Action("RemoveAccountList")

                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>
</body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
