@model List<SongModel>
@using DataAccessLayer.Models;
@using Jukebox.Models;

@{
    bool active = true;
}
<header>
    <title>Profile</title>
</header>
<div class="profile-container container-fluid" id="profile-page-wrapper">
    <div class="row">
        <h3>Welcome @User.Identity.Name! @Html.ActionLink("Upload Music", "Upload", "Music", null, new { @class= "btn btn-primary pull-right", data_toggle="modal", href="#myModal"})</h3>
    </div>
    <div class="row">
            <div class="col col-lg-9" id="profile-table-wrapper">
                @if(Model.Count() > 0)
                {
                    @*<div class="box1">*@
                        <audio style="width:100%" controls="controls" id="audio" preload="auto" tabindex="0">
                            <source type="audio/mp3" src="../Music/@Model.First().FilePath" />
                            <source type="audio/aif" src="../Music/@Model.First().FilePath" />
                        </audio>
                    @*</div>*@
                }
                <table class="table table-hover" id="music-playlist">
                    <thead>
                        <tr>
                            <th id="table-song">Song Title</th>
                            <th id="table-artist">Artist</th>
                            <th id="table-album">Album</th>
                            <th id="table-genre">Genre</th>
                            <th id="table-length">Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SongModel song in Model)
                        {
                            if(active == true)
                            {
                                active = false;
                                <tr class="active-link">                                
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.SongTitle</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Artist</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Album</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Genre</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Length</a></div></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.SongTitle</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Artist</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Album</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Genre</a></div></td>
                                    <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.Length</a></div></td>
                                </tr>
                            }
                                
                        }
                    </tbody>
                </table>
            </div>
        <div class="col col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="clearfix"><a href="#">Songs<span class="badge pull-right">@Model.Count()</span></a></li>
                <li class="clearfix"><a href="#">Likes<span class="badge pull-right">0</span></a></li>
                <li class="clearfix"><a href="#">Following<span class="badge pull-right">0</span></a></li>
                <li class="clearfix"><a href="#">Followers<span class="badge pull-right">0</span></a></li>
            </ul>
        </div>
        </div>
    </div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Music</h4>
            </div>
                @using (Html.BeginForm("Save", "Music", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <form class="form-horizontal" role="form">
                        <div class="modal-body"> 
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="container-fluid">
                                <div>
                                    <div class="col col-lg-9">
                                            <label class="control-label col col-lg-6">Spice up your playlist</label>
                                            <div class="form-group">
                                                
                                                <div class="col-lg-6 input-div">
                                                    <input type="file" multiple name="file" />
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>
                    </form>
                }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        var audio;
        var playlist;
        var tracks;
        var current;
        var offset = 5; //number of td tags per row

        function init() {
            current = 0 * offset;
            audio = $('#audio');
            playlist = $('#music-playlist');
            tracks = playlist.find('tbody tr a');
            len = tracks.length - 1;
            audio[0].play();

            playlist.find('a').click(function (e) {
                e.preventDefault();
                link = $(this);

                current = link.parent().parent().parent().index();
                run($(link), audio[0]);
            });

            audio[0].addEventListener('ended', function (e) {
                current = current + offset;
                if (current == len) {
                    current = 0;
                    link = playlist.find('a')[0];
                } else {
                    link = playlist.find('a')[current];
                }
                run($(link), audio[0]);
            });
        }

        function run(link, player) {
            player.src = $(link).attr('href');
            selectedRow = $(link).parent().parent().parent();
            selectedRow.addClass('active-link').siblings().removeClass('active-link');
            audio[0].load();
            audio[0].play();
        }

        init();
    });
    
</script>