@model List<SongModel>
@using DataAccessLayer.Models;

<header>
    <title>Profile</title>
</header>
<div class="profile-container container-fluid">
    <div class="row">
        <h3>Welcome @User.Identity.Name! @Html.ActionLink("Upload Music", "Upload", "Music", null, new { @class= "btn btn-primary pull-right"})</h3>
    </div>
    <div class="row">
            <div class="col col-lg-9">
                @if(Model.Count() > 0)
                {
                    <div class="box1">
                        <audio class="col col-lg-12" controls="controls" id="audio" preload="auto" tabindex="0">
                            <source type="audio/mp3" src="../Music/@Model.First().FilePath" />
                            <source type="audio/aif" src="../Music/@Model.First().FilePath" />
                        </audio>
                    </div>
                }
                <table class="table table-striped table-hover" id="music-playlist">
                    <thead>
                        <tr>
                            <th>Song Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Genre</th>
                            <th>Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SongModel song in Model)
                        {
                            <tr>
                                <td><a href="../Music/@song.FilePath">@song.SongTitle</a></td>
                                <td><a href="../Music/@song.FilePath">@song.Artist</a></td>
                                <td><a href="../Music/@song.FilePath">@song.Album</a></td>
                                <td><a href="../Music/@song.FilePath">@song.Genre</a></td>
                                <td><a href="../Music/@song.FilePath">@song.Length</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        <div class="col col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="clearfix"><a href="#">Songs<span class="badge pull-right">@Model.Count()</span></a></li>
                <li class="clearfix"><a href="#">Likes<span class="badge pull-right">0</span></a></li>
                <li class="clearfix"><a href="#">Following<span class="badge pull-right">0</span></a></li>
                <li class="clearfix"><a href="#">Followers<span class="badge pull-right">0</span></a></li>
            </ul>
        </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        var audio;
        var playlist;
        var tracks;
        var current;

        function init() {
            current = 0;
            audio = $('#audio');
            playlist = $('#music-playlist');
            tracks = playlist.find('tbody tr a');
            len = tracks.length - 1;
            audio[0].play();
            playlist.find('a').click(function (e) {
                e.preventDefault();
                link = $(this);
                current = link.parent().index();
                run(link, audio[0]);
            });
            audio[0].addEventListener('ended', function (e) {
                current++;
                if (current == len) {
                    current = 0;
                    link = playlist.find('a')[0];
                } else {
                    link = playlist.find('a')[current];
                }
                run(link, audio[0]);
            });
        }
        function run(link, player) {
            player.src = link.attr('href');
            par = link.parent();
            //par.addClass('active').siblings().removeClass('active');
            audio[0].load();
            audio[0].play();
        }

        init();
    });
    
</script>