@model List<SongModel>
@using DataAccessLayer.Models;
@using Jukebox.Models;
@using DataAccessLayer.BusinessLogic;
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Home Page";
    int count = 0; 
}
<body id="homepage-view">
    <div class="index-hero">
        <h1>JUKEBOX</h1>
 
        <p class="lead">
            Jukebox is a online music player that can be shared with everyone.  Users connect with others in
            online rooms and share, enjoy, and discover new music from one another's libraries.  These rooms
            will feature a playlist comprised of music from the creator's library that he/she chooses to be
            in the playlist and other users can enter the room and input more music of their own into the
            playlist if they desire.
        </p>

    </div>
    <div class="index-hero">
        <h1>TOP SONGS</h1>

        <p class="lead">
            <div class="row col-lg-12">
                @foreach (SongModel song in Model)
                {
                    <div class="col-lg-4 top-songs center">
                        <img src="http://engineering.ucsb.edu/images/faculty/mike2009.jpg" /><br />
                        <span>@song.SongTitle</span> <br />
                        <span><strong>@song.Artist</strong></span> <br />
                    </div>
                }
            </div>

        </p>

    </div>


 
</body>

@*<div class="profile-container container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <p>
                <h2>Top Songs</h2>
                <ul>
                    @foreach (SongModel song in Model)
                    {
                        <li>@song.SongTitle by @song.Artist (@song.Likes)</li>
                    }
                </ul>
            </p>
        </div>
    </div>
</div>*@