@model RoomModel
@using DataAccessLayer.Models;
@using Jukebox.Models;

<div class="container">

<div class="room-container container-fluid">
    <div class="row">
        <div class="col col-lg-9">
                <div class="pull-left"><h3 id="playlist-name">@Model.RoomName</h3></div><div id="room-type" class="pull-left">(@Model.Privacy)</div>
        </div>
        <div class="col col-lg-3 pull-right">
            <a class= "btn btn-primary pull-right" id = "create-upload-button" data-toggle="modal" href="#RoomModal">Add Songs</a>
        </div>
    </div>


    <div class="row">
           
    </div>

    <div class="row">
        <div class="col col-lg-9 pull-left" >

         @*@Html.Partial("_RoomPlaylistPartial", Model.Songs)*@

       
            </div>


        <div class="col col-lg-3 pull-right">
            <table class="table table-bordered" id="members-table">
                  @Html.Action("ListAccounts", "Playlist")   
                </table>
        </div> 
    </div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-music-player" role="navigation">
@if(Model.Songs.Count() > 0){
    @Html.Partial("_MusicPlayerPartial", Model.Songs)
}
</nav>

<script type="text/javascript">
    $(document).ready(function () {
        var audio;
        var playlist;
        var tracks;
        var current;
        var offset = 5; //number of td tags per row
        var currentSong = $('#current-song');
        var currentArtist = $('#current-artist');

        function init() {
            current = 0 * offset;
            audio = $('#audio');
            playlist = $('#music-playlist');
            tracks = playlist.find('tbody tr a');
            len = tracks.length - 1;
            audio[0].play();
            var song = playlist.find('tbody tr a')[current];
            var artist = playlist.find('tbody tr a')[current + 1];
            currentSong.text($(song).text());
            currentArtist.text($(artist).text());

            playlist.find('a').click(function (e) {
                e.preventDefault();
                link = $(this);

                current = (link.parent().parent().parent().index()) * 5;
                run($(link), audio[0]);
            });

            audio[0].addEventListener('ended', function (e) {
                current = current + 5;
                if (current == len) {
                    current = 0;
                    link = playlist.find('tbody tr a')[0];
                } else {
                    link = playlist.find('tbody tr a')[current];
                }
                run($(link), audio[0]);
            });
        }

        function run(link, player) {
            player.src = $(link).attr('href');
            selectedRow = $(link).parent().parent().parent();
            selectedRow.addClass('active-link').siblings().removeClass('active-link');
            audio[0].load();
            audio[0].play();
            var song = playlist.find('tbody tr a')[current];
            var artist = playlist.find('tbody tr a')[current + 1];
            currentSong.text($(song).text());
            currentArtist.text($(artist).text());
        }

        init();
    });

</script>

<!--
<nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-music-player" role="navigation">
        <div class"pull-center">
             <li><audio controls="controls" loop="true">
                 <source type="audio/mp3" src="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3" />
             </audio>
            </li>
        </div>
</nav>
-->

  <!-- Modal -->
<div class="modal fade" id="RoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Songs</h4>
            </div>
                @using (Html.BeginForm("Create", "Playlist", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <form class="form-horizontal" role="form">
                        <div class="modal-body"> 
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="container-fluid">
                                <table>
                                    <th>Choose songs from your playlist</th>
                                    @foreach (SongModel song in Model.Songs)
                                    {
                                    <tr>                       
                                        <td>  <div class="text-wrap"> <input type="checkbox"> @song.SongTitle</div></td>
                                    </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </form>
                }
        <div class="modal-footer">
                        <input type="submit" value="Add" class="btn btn-primary pull-right" />
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    document.getElementById("createbutton").onclick = function () {
        location.href = '@Url.Action("AddSongsToRoom", "Playlist", new { songs = Model.Songs, room = Model } )';
    }
</script>