@model RoomModel
@using DataAccessLayer.Models;
@using Jukebox.Models;

<body id="Room-page">


<div class="room-container container-fluid">
        
    <input hidden id ="roomId" value="@Model.RoomId" />
    <div class="row">
        <div class="col col-lg-3">
                <div class="pull-left"><h3 id="playlist-name">@Model.RoomName</h3></div>@*<div id="room-type" class="pull-left">(Private)</div>*@
        </div>
        <div class="col col-lg-9">
            @Html.ActionLink("Add Songs", "Upload", "Music", null, new { @class= "btn btn-primary pull-right", data_toggle="modal", href="#RoomModal", @id = "create-upload-button"})
           @Html.ActionLink("Leave Room", "Upload", "Music", null, new { @class= "btn btn-primary pull-right", data_toggle="modal", href="#LeaveModal", @id = "leave-button"})   
    </div>
    </div>




    <div class="row">
        <div class="col col-lg-9 pull-left" id="songlist">
       
         @Html.Partial("_RoomPlaylistPartial", Model.Songs)
        
       
        </div>


        <div class="col col-lg-3 pull-right">
            <table class="table table-bordered" id="members-table">
                  @Html.Action("RoomAccountList", "Room", new {RoomName = Model.RoomName})   
                </table>
        </div> 
    </div>
</div>

</body>

<nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-music-player" role="navigation">
    @Html.Partial("_MusicPlayerPartial", Model.Songs)

</nav>

<script type="text/javascript">
    $(document).ready(function () {
        var audio;
        var playlist;
        var tracks;
        var current;
        var offset = 5; //number of td tags per row
        var currentSong = $('#current-song');
        var currentArtist = $('#current-artist');

        function init() {
            current = 0 * offset;
            audio = $('#audio');
            playlist = $('#music-playlist');
            tracks = playlist.find('tbody tr a');
            len = tracks.length - 1;
            audio[0].play();
            var song = playlist.find('tbody tr a')[current];
            var artist = playlist.find('tbody tr a')[current + 1];
            currentSong.text($(song).text());
            currentArtist.text($(artist).text());

            playlist.find('a').click(function (e) {
                e.preventDefault();
                link = $(this);

                current = (link.parent().parent().parent().index()) * 5;
                run($(link), audio[0]);
            });

            playlist.find('button').click(function (e) {
                e.preventDefault();
                song = $(this).parent().next();
                album = $(this).parent().next().next().next();
                position = $(this).parent().parent();
                current = (song.parent().parent().parent().parent().index()) * 6;
                //DeleteSong.text($(song).text());
                //DeleteAlbum.text($(album).text());
                $(position).fadeOut(400);
                audio[0].play();
                like($(song), $(album));
                refresh();
                updateuserplayer(User.Identity.Name);

            });

            audio[0].addEventListener('ended', function (e) {
                current = current + 5;
                if (current == len) {
                    current = 0;
                    link = playlist.find('tbody tr a')[0];
                } else {
                    link = playlist.find('tbody tr a')[current];
                }
                run($(link), audio[0]);
            });
        }

        function like(song, album) {
            var SongName = $(song).text();
            var AlbumName = $(album).text();
            var roomId = $('#roomId').val();
            $.ajax({
                url: "/Music/Like",
                data: { SongName: SongName, Album: AlbumName, RoomId: roomId },
                success: function (data) {
                    $('#music-playlist').html(data);
                }

            });
        }

        function run(link, player) {
            player.src = $(link).attr('href');
            selectedRow = $(link).parent().parent().parent();
            selectedRow.addClass('active-link').siblings().removeClass('active-link');
            audio[0].load();
            audio[0].play();
            var song = playlist.find('tbody tr a')[current];
            var artist = playlist.find('tbody tr a')[current + 1];
            currentSong.text($(song).text());
            currentArtist.text($(artist).text());
        }

        init();
    });
    
</script>

<!--
<nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-music-player" role="navigation">
        <div class"pull-center">
             <li><audio controls="controls" loop="true">
                 <source type="audio/mp3" src="https://dl.dropboxusercontent.com/u/70488116/CS%2048/download.mp3" />
             </audio>
            </li>
        </div>
</nav>
-->

  <!-- Modal -->
<div class="modal fade" id="RoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <input type="submit" value="Add" class="btn btn-primary pull-right" id="add-music-submit" />
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                <h3 class="modal-title">Add Songs</h3>
            </div>
            
                @using (Html.BeginForm("Create", "Playlist", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <form class="form-horizontal" role="form">
                        <div class="modal-body"> 
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="container-fluid">
                                <table>
                                    <th><h4>Choose songs from your playlist</h4></th>
                                    <br />
                                    @Html.Action("UserSongs","Music", new{Username = User.Identity.Name, @id = "AddSongs"})
                                    @*<tr>
                                        <td><div class="text-wrap"><a href="../Music/@song.FilePath">@song.SongTitle</a></div></td>
                                    </tr>*@
                                    
                                </table>
                            </div>
                        </div>
                    </form>
                }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal for Leave Room button -->
 <!-- Modal -->
<div class="modal fade" id="LeaveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
                        <div class="modal-body"> 
                            <div class="container-fluid">
                              
                                 <h4>Sure you wanna leave this sweet ass room?</h4>
                                   <div>
                                
                                    <button type = "button">@Html.ActionLink("Yessir","LeaveRoom","Room",new{RoomName = Model.RoomName},"")</button>
                                    <button type="button" class="close" data-dismiss="modal">Stay Here</button>                                    </div>
                            </div>
                        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">


    document.getElementById("create-upload-button").onclick = function () {
        $(".checkbox").prop("checked", false);
    }
    
    document.getElementById("add-music-submit").onclick = function () {
        var roomId = $('#roomId').val();
        var checked = []
        $("input[name='song']:checked").each(function () {
            checked.push($(this).val());
        });
        alert(checked);
        addsongs(roomId, checked);
        updateplayer(roomId);
    }

    function addsongs(Id, check) {
        $.ajax({
            type: "POST",
            traditional: true,
            url: "/Room/AddSongs",
            data: { SongList: check, RoomId: Id },
            success: function (data) {
                $('#music-playlist').html(data);
            }
        });
    }
    function updateplayer(Id) {
        $.ajax({
            type: "POST",
            url: "/Music/UpdatePlayer",
            data: {RoomId: Id},
            success: function(data) {
                $('#bottom-music-player').html(data);
            }
        });



     }
        

    
</script>