<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jukebox - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
     <script language="Javascript" type="text/javascript" src="~/Scripts/modal-dropdown.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Jukebox", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        @if (Request.IsAuthenticated){
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Playlist <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li role="presentation">
                            <!-- Button trigger modal, creating a modal for the user to easily create a group playlist -->

                        <a data-toggle="modal" href="#CreateAroomModal">Create Room</a>
                        </li>
                        <li role="presentation">
                            <!--ActionLink Method for joining a room -->
                             <a data-toggle="modal" href="#JoinAroomModal" id="join-start">Join Room</a>
                        </li>

                    </ul>
                </li>
            </ul>
        }          
        @Html.Partial("_LoginPartial")
        </div><!-- /.navbar-collapse -->


    </nav>

  

    <div class="container">
        @RenderBody()
        <hr />
        <footer id="footer-div">
            <div class="center">
                @Html.ActionLink("About", "About", "Home", null, new { @class="footer-link"})
                @Html.ActionLink("Contact", "Contact", "Home",null, new { @class="footer-link"})
            </div>
            <div class="center"></div>
            <p class="pull-left">&copy; @DateTime.Now.Year Jukebox. All Rights Reserved.</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

  <!-- Create A Room Modal -->
<div class="modal fade" id="CreateAroomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create A Room</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row modal-row" id="modal-privacy">
                        <div class="col col-lg-1">
                            <span class="round-number">1</span>
                        </div>
                        <div class="col col-lg-11">                      
                                <h4 class="modal-header-description">Choose your privacy: </h4>
                                <select class="form-control" id="privacy-selector">
                                    <option>Select Your Privacy:</option>
                                    <option>Public</option>
                                    <option>Private</option>
                                </select>
                        </div>
                    </div>
                    <div class="row modal-row modal-hidden" id="modal-genre">
                        <div class="col col-lg-1">
                            <span class="round-number">2</span>
                        </div>
                        <div class="col col-lg-11">
                            <h4 class="modal-header-description">Select a Genre: </h4>
                            <select class="form-control" id="genre-selector">
                                <option>Hip-Hop</option>
                                <option>Dubstep</option>
                                <option>House</option>
                            </select>
                        </div>
                    </div>
                    <div class="row modal-row modal-hidden" id="modal-private-information">
                        <div class="col col-lg-1">
                            <span class="round-number">2</span>
                        </div>
                        <div class="col col-lg-11">
                            <div>
                                <h4 class="modal-header-description">Choose a group name and password: </h4>
                                <form role="form">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter a group name">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter a password">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row modal-row modal-hidden" id="modal-public-information">
                        <div class="col col-lg-1">
                            <span class="round-number">3</span>
                        </div>
                        <div class="col col-lg-11">
                            <div>
                                <h4 class="modal-header-description">Choose a group name: </h4>
                                <form role="form">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter a group name">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <input type="submit" value="Create" class="btn btn-primary pull-right" />
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 <!-- Create A Room Modal -->
<div class="modal fade" id="JoinAroomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Join A Room</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div>Content goes in here.</div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Upload" class="btn btn-primary pull-right" />
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@*<!-- Modal object that gets called when clicking create a room -->
        <div class="modal fade" id="CreateAroomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                            <h4 class="modal-title">Create a room</h4>
                               </div>
                                    <div class="modal-body">
                                        <div class="input-group">
                                            <h4>Enter your group name:</h4>
                            <input type="text" class="form-control" placeholder="Group name">
                                        </div>
                            <hr />
                    <!--Used to select the genre of the room-->
                                            <h4>Select a genre:</h4>
                                                    <div class="col-lg-9 input-div">
                                                <select name ="genre">
                                                    <option>Hip-Hop</option>
                                                    <option>Dubstep</option>
                                                    <option>R&B</option>
                                                    <option>Country</option>
                                                    <option>House</option>
                                                </select>
                                                    </div>  
                            <hr />
                    <!--Used to select public or private rooms-->
                                            <h4>Please select Public or Private room:</h4>
                                                    <div class="col-lg-9 input-div">
                                                <select name ="Room Type">
                                                   <option>Public</option>
                                                   <option>Private</option>
                                                </select> 
                                                    </div> 
    
                    <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
    <!-- Have to make the submit button connect to the database where the new room will be created -->
            <button type="button" onclick="window.location.href='../Playlist/Create'" class="btn btn-primary pull-right">Submit</button>
                    </div>
            </div><!-- closed modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->*@
@*<!-- Modal object that gets called when clicking create a room -->
        <div class="modal fade" id="JoinAroomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
                            <h4 class="modal-title">Join a Room</h4>
                               </div>
                                    <div class="modal-body">
                                        <div class="input-group" id="room-search">
                                            <h4>Search for Room:</h4>
                            <input type="text" class="form-control" placeholder="Group name">
                            <input type="text" class="form-control" placeholder="Password">
                                        </div>
                            
                    <!--Used to select the genre of the room-->
                                        <div id="genre-select">
                                            <h4>Search by Genre:</h4>
                                                    <div class="col-lg-9 input-div">
                                                <select id="genre-choice" name ="genre">
                                                    <option >Alternative</option>
                                                    <option >Classical</option>
                                                    <option >Country</option>
                                                    <option >EDM</option>
                                                    <option >Hip-Hop</option>
                                                    <option >Indie</option>
                                                    <option >Pop</option>
                                                    <option >R&B</option>
                                                    <option >Rock</option>
                                                    <option >Techno</option>
                                                </select>
                                                    </div>  
                                        </div>
                           
                    <!--Used to select public or private rooms-->
                                           <div id="room-select" >
                                            <h4 id="name-change">Public or Private room:</h4>
                                                    <div class="col-lg-9 input-div">
                                                <select name ="Room Type" id="room-type">
                                                   <option>Public</option>
                                                   <option>Private</option>
                                                </select> 
                                                    </div> 
                                           </div>
                                           
    
                    <div class="modal-footer">
<div style="float:right">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" id="butt-close" style="position:relative;padding: 3px 7px;">Close</button>
    <!-- Have to make the submit button connect to the database where the new room will be created -->
</div>
<div style="float:right">
            <button type="button" class="btn btn-primary pull-right" id="butt-select" style="position:relative;padding: 3px 7px;">Submit</button>
</div>                    
</div>
            </div><!-- closed modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->*@
</html>
