<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Jukebox", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Playlist <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation">@Html.ActionLink("Create a room", "Create", "Playlist", routeValues: null, htmlAttributes: new { @role = "menuitem", tabindex = "-1" })</li>
                        <li role="presentation">@Html.ActionLink("Join a room", "Join", "Playlist", routeValues: null, htmlAttributes: new { @role = "menuitem", tabindex = "-1" })</li>
                    </ul>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
            
        </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer id="footer-div">
            <div class="center">
                @Html.ActionLink("About", "About", "Home", null, new { @class="footer-link"})
                @Html.ActionLink("Contact", "Contact", "Home",null, new { @class="footer-link"})
            </div>
            <div class="center"></div>
            <p class="pull-left">&copy; @DateTime.Now.Year Jukebox. All Rights Reserved.</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
